/**
 * Рабочий интерфейс калькулятора.
 * Включается при ширине экрана 479px и менее.
 */
 
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: black;
}

.container {
    margin: 10px auto;
    width: 340px;
}

#header {
    padding: 6px 10px 7px 25px;
    background: #830759;
    background: linear-gradient(to top, #830759, #ba077d);
    border-radius: 10px 10px 0 0;
}

#header h1 {
    padding: 0;
    margin: 0;
    color: #ffe8fc;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0 1px 1px #480732;
}

#calculator {
    padding: 10px;
    background-color: #ffe6fb;
}

#footer {
    padding: 6px 12px 7px;
    background: #830759;
    background: linear-gradient(to top, #830759, #ba077d);
    color: white;
    font-size: 11px;
    font-weight: bold;
    text-align: right;
    border-radius: 0 0 5px 5px;
}

#calculator button {
    margin: 1px;
    height: 40px;
    width: 40px;
    border: solid 1px #ff79ce;
    border-radius: 5px;
    background: #ff79ce;
    background: linear-gradient(to top, #ff79ce, #ffc0e0);
    font-weight: bold;
}

#calculator button:hover,
#calculator-trig label:hover {
    background: #830759;
    background: linear-gradient(to top, #830759, #ba077d);
    color: white;
}

#calculator button {
    float: left;
}

#display {
    margin: 3px 2px 13px;
    padding: 5px 9px 6px;
    width: 297px;
    height: 29px;
    background-color: #ffd6f1;
    color: #830759;
    font-size: 23px;
    font-weight: bold;
    text-align: right;
    border: solid 1px #830759;
    border-radius: 5px;
}

#calculator-ext {
    float: left;
    width: 90px;
}

#calculator #calculator-ext button {
    height: 40px;
    width: 43px;
}

#calculator-nums {
    float: left;
    width: 126px;
    margin: 0 10px;
}

#calculator .calculator-ops {
    float: left;
    width: 42px;
}

#calculator .calculator-ops #equality {
    height: 82px;
}

#logContainer > h3, #notesContainer > h3 {
    margin: 20px 0 3px 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: dimgray;
}
#calculator-trig {
    width: 186px;
    float: left;
    margin-top:10px;
    margin-right: 10px;
}

#calculator-trig label {
    position: relative;
    display: block;
    float: left;
    height: 39px; /* ширина коробки под переключателем */
    margin:2px;
    text-align: center;
    line-height: 37px; /* налаживание высоты надписей rad и grad */
/    background: #ffe6fb;
    border-color: #ffe6fb;
    color: #fe94d6;
}
#calculator-trig label input:checked+.check {
    color: #b7087d;
}
#unitRad, #unitGrad {
    display: none;
}
#calculator-trig label:first-of-type {
    border-radius: 5px 0 0 5px;
    margin-right: 0;
    padding-right: 20px; /* позволяет отладить центрирование переключателя */
    width: 42px;   /* ширина левой половины фона под переключателем */
}
#calculator-trig label:last-of-type {
    border-radius: 0 5px 5px 0 ;
    margin-left: 0;
    padding-left: 18px;
    width: 40px;   /* ширина правой половины фона под переключателем */
}

/*----radiobutton_3---*/
#unitGrad+.check::before {
    content: '';
    position: absolute;
    top: 10px;   /* вертикальный отступ правой половины фона над переключателем */
    left: -3px;
    width: 21px;  /* удлинение правой части фона под переключателем */
    height: 20px;
    background-color: #fe94d6;
    border-radius: 0 10px 10px 0;
    box-shadow: inset -1px 1px 1px 0 rgba(121, 23, 89, 0.5);/*тень сдвинута в лево, чтобы не была видна левая граница*/
}
#unitRad+.check::before {/*элемент добавлен для увеличения кликабельной области*/
    content: '';
    position: absolute;
    top: 10px;   /* вертикальный отступ левой половины фона над переключателем */
    left: 41px;  /* удлинение левой части фона под переключателем */
    width: 40px;
    height: 20px;
    background-color: #fe94d6;
    border-radius: 10px;
    box-shadow: inset 0 1px 1px rgba(121, 23, 89, 0.5);
}
#unitGrad+.check::after {
    content: '';
    position: absolute;
    top: 11px;     /* вертикальный отступ над переключателем */
    left: -20px;  /* отступ отъезда ползунка влева  */
    width: 18px;  /* длина овала ползунка */
    height: 18px;
    background-color: #89085F;
    border-radius: 9px; /* степень закруглённости ползунка */
    box-shadow: inset 0 2px 6px rgb(199, 140, 180);
    transition: .2s ease-out;
}
#unitGrad:checked+.check::after{
    left: -2px;
    transition: .2s ease-out;
}
/*---end radiobutton_3 ---*/
#calculator-trig button {
    width: 60px ;
}

#calculator-logarithm {
    width: 124px;
    float: left;
    margin-top: 10px;
}

#calculator-logarithm button {
    width: 60px;
}

#fields {
    margin-top: 6px;
    width: 320px;
    float: left;
}

.notes-field, .log-field{
    border: 1px solid #FFD6F1;
    border-radius: 5px;
    margin: 6px 0 6px 1px;
    padding: 6px 6px 6px 6px;
    background-color: #FFD6F1;
}

#logWindow, #noteWindow {
    border: solid 1px #fff5fd;
    border-radius: 3px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding: 0 3px;
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #830759;
    overflow-y: auto;
    resize: vertical;
}

#logWindow {
    background-color:  #fff5fd;
    height: 184px;
}

#noteWindow {
    background-color:  #fff5fd;
    height: 84px;
    width: 298px;
    margin-bottom: -2px;
    margin-top: -1px;
}

#tfNote, #tfLog {
    display: none;
}

#fields label {
  position: relative;
    display: block;
    height: 22px;
    text-align: center;
    line-height: 22px;
    border: solid 1px #ff79ce;
    border-radius: 5px;
    background: #ff79ce;
    background: linear-gradient(to top, #ff79ce, #ffc0e0);
    color: #830759;
    font-size: 11px;
}

#fields input:checked+label.check-field {
    display: block;
    border: solid 1px #fff5fd;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background: #FFD6F1;
    background: linear-gradient(to top, #FFD6F1, #FFE6FB);
    color: #830759;
}

#fields input+label.check-field::after {
    position: absolute;
    content: '';
    top: 7px;
    left: 183px;
    border: 3px solid #830759;
    border-top: 3px solid transparent;
    border-left: 3px solid transparent;
    transform: rotate(45deg);
}
#tfLog+label.check-field::after {
    left: 221px;
}
#fields input:checked+label.check-field::after {
    display: none;
}

.clearfix {
    clear: both;
    height: 0px;
    background: #e74c3c;
}

button#memoryState, button#memoryRead {
    border: solid 1px #79ceff; //
    background: #79ceff;
    background: linear-gradient(to top, #79ceff, #c0e0ff);
}

button#memoryState:hover, button#memoryRead:hover {
    background: #075983;
    background: linear-gradient(to top, #075983, #077dba);
    color: white;
}

/*---------Сине-сиреневые-------*/
button#backspace, button#clear {
    background: linear-gradient(to top, #8381f3, #d0dcff);
    border-color: #8381f3;
}
button#backspace:hover, button#clear:hover {
    background: linear-gradient(to top, #37148e, #7476ff);
    border-color: #37148e;
}
