/**
 * Презентационных интерфейс калькулятора.
 * Для устройств с шириной экрана 480px и более
 */
 
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: black;
}

.container {
    margin: 10px auto;
    width: 436px;
}

#header {
    padding: 10px 10px 10px 30px;
    background: #830759;
    background: linear-gradient(to top, #830759, #ba077d);
    border-radius: 10px 10px 0 0;
}

#header h1 {
    padding: 0;
    margin: 0;
    color: #ffe8fc;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 0 1px 1px #480732;
}

#calculator {
    padding: 10px;
    background-color: #ffe6fb;
}

#footer {
    padding: 5px 12px 6px 0;
    background: #830759;
    background: linear-gradient(to top, #830759, #ba077d);
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-align: right;
    border-radius: 0 0 5px 5px;
}

#calculator button {
    margin: 1px;
    height: 50px;
    width: 50px;
    border: solid 1px #ff79ce;
    border-radius: 5px;
    background: #ff79ce;
    background: linear-gradient(to top, #ff79ce, #ffc0e0);
    font-weight: bold;
}

#calculator button:hover,
#calculator-trig label:hover {
    background: #830759;
    background: linear-gradient(to top, #830759, #ba077d);
    color: white;
}

#calculator button {
    float: left;
}

#display {
    margin: 18px 2px 20px;
    padding: 7px 10px 8px;
    width: 390px;
    height: 30px;
    background-color: #ffd6f1;
    color: #830759;
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    border: solid 1px #830759;
    border-radius: 5px;
}

#calculator-ext {
    float: left;
    width: 134px;
}

#calculator #calculator-ext button {
    height: 50px;
    width: 65px;
}

#calculator-nums {
    float: left;
    width: 156px;
    margin: 0 10px;
}

#calculator .calculator-ops {
    float: left;
    width: 52px;
}

#calculator .calculator-ops #equality {
    height: 102px;
}

#logContainer > h3, #notesContainer > h3 {
    margin: 20px 0 3px 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: dimgray;
}
#calculator-trig {
    width: 246px;
    float: left;
    margin-top:10px;
    margin-right: 10px;
}

#calculator-trig label {
    position: relative;
    display: block;
    float: left;
    height: 49px;
    margin:2px;
    text-align: center;
    line-height: 48px;
    background: #ffe6fb;
    border-color: #ffe6fb;
    color: #fe94d6;                   
}
#calculator-trig label input:checked+.check {
    color: #b7087d;
}
#unitRad, #unitGrad {
    display: none;
}
#calculator-trig label:first-of-type {
    border-radius: 5px 0 0 5px;
    margin-right: 0;
    padding-right: 10px;
    width: 70px;
}
#calculator-trig label:last-of-type {
    border-radius: 0 5px 5px 0 ;
    margin-left: 0;
    padding-left: 10px;
    width: 70px;
}

/*----radiobutton_3---*/
#unitGrad+.check::before {
    content: '';
    position: absolute;
    top: 15px;
    left: -3px;
    width: 23px;
    height: 20px;
    background-color: #fe94d6;
    border-radius: 0 10px 10px 0;
    box-shadow: inset -1px 1px 1px 0 rgba(121, 23, 89, 0.5);/*тень сдвинута в лево, чтобы не была видна левая граница*/
}
#unitRad+.check::before {/*элемент добавлен для увеличения кликабельной области*/
    content: '';
    position: absolute;
    top: 15px;
    left: 57px;
    width: 43px;
    height: 20px;
    background-color: #fe94d6;
    border-radius: 10px;
    box-shadow: inset 0 1px 1px rgba(121, 23, 89, 0.5);
}
#unitGrad+.check::after {
    content: '';
    position: absolute;
    top: 16px;
    left: -22px;
    width: 21px;
    height: 18px;
    background-color: #89085F;
    border-radius: 10px;
    box-shadow: inset 0 2px 6px rgb(199, 140, 180);
    transition: .2s ease-out;
}
#unitGrad:checked+.check::after{
    left: -2px;
    transition: .2s ease-out;
}
/*---end radiobutton_3 ---*/
#calculator-trig button {
    width: 80px ;
}

#calculator-logarithm {
    width: 158px;
    float: left;
    margin-top: 10px;
    margin-right: 2px;
}

#calculator-logarithm button {
    width: 77px;
}

#fields {
    margin-top: 6px;
    width: 413px;
    float: left;
}

.notes-field, .log-field{
    border: 1px solid #FFD6F1;
    border-radius: 5px;
    margin: 6px 0 6px 1px;
    padding: 6px 6px 6px 6px;
    background-color: #FFD6F1;
}

#logWindow, #noteWindow {
    max-width: 394px;
    border: solid 1px #fff5fd;
    border-radius: 3px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding: 0 3px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #830759;
    overflow-y: auto;
    resize: vertical;
}

#logWindow {
    background-color:  #fff5fd;
    height: 184px;
}

#noteWindow {
    background-color:  #fff5fd;
    height: 84px;
    width: 390px;
    margin-bottom: -2px;
}

#tfNote, #tfLog {
    display: none;
}

#fields label {
  position: relative;
    display: block;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border: solid 1px #ff79ce;
    border-radius: 5px;
    background: #ff79ce;
    background: linear-gradient(to top, #ff79ce, #ffc0e0);
    font-weight: bold;
    color: #830759;
}

#fields input:checked+label.check-field {
    display: block;
    border: solid 1px #fff5fd;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background: #FFD6F1;
    background: linear-gradient(to top, #FFD6F1, #FFE6FB);
    color: #830759;
}

#fields input+label.check-field::after {
    position: absolute;
    content: '';
    top: 9px;
    left: 236px;
    border: 3px solid #830759;
    border-top: 3px solid transparent;
    border-left: 3px solid transparent;
    transform: rotate(45deg);
}
#tfLog+label.check-field::after {
    left: 221px;
}
#fields input:checked+label.check-field::after {
    display: none;
}

.clearfix {
    clear: both;
    height: 0px;
    background: #e74c3c;
}

button#memoryState, button#memoryRead {
    border: solid 1px #79ceff; //
    background: #79ceff;
    background: linear-gradient(to top, #79ceff, #c0e0ff);
}

button#memoryState:hover, button#memoryRead:hover {
    background: #075983;
    background: linear-gradient(to top, #075983, #077dba);
    color: white;
}

/*---------Сине-сиреневые-------*/
button#backspace, button#clear {
    background: linear-gradient(to top, #8381f3, #d0dcff);
    border-color: #8381f3;
}
button#backspace:hover, button#clear:hover {
    background: linear-gradient(to top, #37148e, #7476ff);
    border-color: #37148e;
}
